table {
	border: 1px solid;
	border-collapse: collapse;
	border-color: orange;
}

th {
	border: 1px solid;
	border-color: orange;
	padding: 5px;
}

th.column-header {
	color: red;
}

th.column-header-id {
	font-size: 30px;
}

#date-input {
	font-weight: bold;
}